*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #D8EDF2;

}


.imagenHeader img{
    width: 134px;
    height: 134px;
}


.grupoBotones button{
    color: black;
}

.grupoBotones:hover{
    color: gray;
}

#primeraParte{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
