*{
    padding: 0;
    margin: 0;
}



#primeraParte{
    width: 100%;
    background-color: #D8EDF2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .imagenHeader img{
    margin: 10px 15px 4px 30px;
    align-items: left;
    width: 100px;
    height: 100px;
            
    }
}
